<div class="grid">
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Les congé passer aujourd'hui</span>
                    <div class="text-900 font-medium text-xl">{{ congeAujourdhui }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-calendar-plus text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Les congés dans ce mois</span>
                    <div class="text-900 font-medium text-xl">{{ congeCeMois }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-chart-line text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Nombre des autorisations en cours</span>
                    <div class="text-900 font-medium text-xl">{{ autorisation }} / {{ nbEmp }}</div>
                </div>
                
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
            <p-button label="Consuler la liste" styleClass="p-button-link" (click)="listAutorisation()"></p-button>

        </div>
    </div>
    <div class="col-12 lg:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Congés en attente</span>
                    <div class="text-900 font-medium text-xl">{{ congeEnAttente }}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-spin pi-spinner"></i>
                </div>
            </div>
            <p-button label="." styleClass="p-button-link" disabled></p-button>

        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5>Sales Overview</h5>
            <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
    </div>

    <p-dialog [(visible)]="employeeDiaglog" header="List employee" [modal]="true" [style]="{width:'450px'}">
        <p-table #dt [value]="autorisations" [columns]="cols" responsiveLayout="scroll" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Departement</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a>
                <tr>
                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                        {{a.demandeur.nom}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Name</span>
                        {{a.demandeur.prenom}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                        <span class="p-column-title">Name</span>
                        {{a.demandeur.entite}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="employeeDiaglog = false"></button>
        </ng-template>
    </p-dialog>
</div>